::ng-deep {
    .sign-in {
        margin-top: 60px;
        width: 60%;
        background-color: #ffffff;
        padding: 20px 40px 40px;
        margin: 0 auto 40px;
        box-shadow: 0px 6px 10px 0px #bed6e2;
    }

    .darkMode .sign-in {
        box-shadow: 0px 1px 7px -1px #000000;
    }

    .mat-form-field {
        width: 100%;

        .form-control {
            padding-left: 5px;
            &:focus {
                box-shadow: none;
            }
        }
    }

    .btn {
        background-color: #fff;
        border: 1px solid #cbcbcb;
    }
    
    @media only screen and (max-width: 768px) {
        .btn {
            white-space: unset !important;
            width: 100%;
        }
    }
}