<div class="container sign-up darkMode-secondary-bg darkMode-color" [ngClass]="{'toRight': getLangFromStorage() === 'ar'}">
    <div class="alert alert-danger" *ngIf="signUpErr">
        {{signUpErr}}
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">{{'sign-up' | translate}}</h1>
        <form [formGroup]="regForm" (ngSubmit)="signUp()">
          <div class="form-group">
            <mat-form-field>
              <mat-label>
                <label for="email">{{'email' | translate}}</label>
              </mat-label>
              <input type="email"
                   matInput
                   class="form-control"
                   formControlName="email">
              <mat-error *ngIf="isValidInput('email') && regForm.controls['email'].errors.required">
                {{'email-required' | translate}}
              </mat-error>
              <mat-error *ngIf="isValidInput('email') && regForm.controls['email'].errors.pattern">
                {{'email-format-required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>
                <label for="first_name">{{'first_name' | translate}}</label>
              </mat-label>
              <input type="text"
                   matInput
                   class="form-control"
                   formControlName="firstName">
              <mat-error *ngIf="isValidInput('firstName') && regForm.controls['firstName'].errors.required">
                {{'first-name-required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>
                <label for="last_name">{{'last_name' | translate}}</label>
              </mat-label>
              <input type="text"
                   matInput
                   class="form-control"
                   formControlName="lastName">
              <mat-error *ngIf="isValidInput('lastName') && regForm.controls['lastName'].errors.required">
                {{'last-name-required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>
                <label for="password">{{'password' | translate}}</label>
              </mat-label>
              <input type="password"
                     matInput
                     name="password"
                     class="form-control"
                     formControlName="password">
              <mat-error *ngIf="isValidInput('password') && regForm.controls['password'].errors.required">
                {{'password-required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>
                <label for="repassword">{{'re-password' | translate}}</label>
              </mat-label>
              <input type="password"
                   matInput
                   appRepwValidator="password"
                   class="form-control"
                   formControlName="repassword">
              <mat-error *ngIf="isValidRepw('repassword') && regForm.controls['repassword'].errors.required">
                {{'invalid-repassword' | translate}}
              </mat-error>
              <mat-error *ngIf="isValidRepw('repassword') && regForm.controls['repassword'].errors.notValidRepw">
                {{'repassword-doesnt-match' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <button [disabled]="!regForm.valid"
            mat-flat-button
            color="primary"
            type="submit" 
            >{{'sign-up' | translate}}</button>
        </form>
      </div>
    </div>
</div>